body{
    margin:0;
    padding: 0;
    background-color: rgb(96, 90, 90);
}

.hero-section{
    background-image: url("ban11.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 800px;
    
}
@media (max-width:650px){
   .hero-section{
    height:400px;
   }

}

.title{
   text-align: center;
   padding: 45px 10px 0 0;
   font-size: 24px;
}
.subtitle{
    text-align: center;
    padding-top: 10px;
    font-size: 28px;
 
 }

 @media (max-width:650px){
   .title{
      text-align: center;
      padding: 45px 0px 0 0;
      font-size: 24px;
   }
   .subtitle{
      text-align: center;
      padding-top: 4px;
      font-size: 29px;
    
    }
 }
 .black-box-section{
    background-color: black;
    color: white;
    border-top:0.7px solid white;
    border-bottom:0.7px solid white;
    padding: 40px;
    text-align: center;
    font-size: 22px;
 }

 @media (max-width:650px){
   .black-box-section{
      background-color: black;
      color: white;
      border-top:0.7px solid white;
      border-bottom:0.7px solid white;
      padding: 25px;
      
      font-size: 18px;
   }
 }

 .card{
    display: flex;
    justify-content: center;
    gap: 50px;
 }
 @media (max-width:650px) {
   .card{
   flex-wrap: wrap;
   gap:25px;
   }
 }

 .card-box{
    border-radius: 20px;
    box-shadow:2px 2px 3px grey ;
    width:300px;
    min-height: 200px;
    margin:30px 0;

 }
 @media (max-width:650px) {
   .card-box{
      border-radius: 10px;
      width:250px;
      margin:15px 20px;
   }
 }

 .card-image-one{
    width: 100%;
    background-image: url("g1.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
 }

 .card-image-two{
    width: 100%;
    background-image: url("g2.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
 }
 .card-image-three{
    width: 100%;
    background-image: url("g3.jpg");
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
 }
 .card-header{
    padding: 15px 0 10px 10px;

 }
 .card-description{
        padding: 0 15px 50px 15px;
}
.footer{
    display: flex;
}
.footer-section-one{
    background-color: green;
    margin-bottom: 50px;
    height: 200px;
    width:40%;
    border: 2px solid wheat;
    margin:40px;
    border-radius: 30px;
    box-shadow: 3px 2px 2px grey;
    padding:40px;
    
}
.footer-section-two{
    background-color: brown;
    margin-bottom: 50px;
    height: 200px;
    width:40%;
    margin:40px;
    border-radius: 30px;
    box-shadow: 3px 2px 2px grey;
    padding:40px;
}
@media (max-width:650px) {
   .footer{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 15px;
      border-radius: 10px;
   }
   .footer-section-one,.footer-section-two{
      width: 80%;
   }
}

.footer-header{
    font-weight: 700;
    font-size: 70px;
    color:white;
}